.container {
  margin-left: 40%;
  justify-content: center;
  display: inline-block;
  width: 20%;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
}

.btn {
  padding: 15px;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
  width: 30%;
}

.boutton {
  font-size: 18px;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  width: 30%;
}

.btn-primary {
  background-color: #000000;
  color: rgb(21, 19, 19);
  display: inline-block;
  width: 30px;
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.popup-inner {
  display: flex;
  width: 20%;
  height: 140px;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup-table {
  display: flex;
  width: 40%;
  height: 500px;
  background-color: white;
  /* padding: 30px; */
  padding-top: 10px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table {
  border-collapse: collapse;
  justify-content: center;
  width: 80%;
  margin-top: 20px;
  margin-left: 10px;
}

thead {
  background-color: #afafaf;
  color: white;
  border: 1px solid black;
}

th,
td {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dfdfdf;
}

.s {
  background-color: red;
  margin: auto;
}

.searchbox {
  margin-top: 10px;
  margin-left: 174px;
  margin-bottom: 20px;
  /* border: 2px solid rgb(213, 213, 213); */
  border-radius: 5px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s ease forwards;
  background-color: #ffffff;
}


.box {
  width: 1300px;
  height: 170px;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 40px;
  border: 2px solid rgb(213, 213, 213);
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #ffffff;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s ease forwards;
}

.tag3 {
  color: red;
}
.tag2 {
  color: rgb(242, 254, 77);
}
.tag1 {
  color: rgb(64, 250, 89);
}
.tag0 {
  color: rgb(117, 230, 253);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.box.show {
  animation: fadeOut 0.5s ease forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

/* .color-box {
  display: inline-block;
  padding-right: 50px;
  margin-right: 2500px;
  background-color: yellow;
  color: black;
} */

.datainbox {
  display: inline-block;
  color: rgb(233, 8, 8);
  
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  width:60px;
  height: 60px;
  border-radius: 50%;
  border-top: 3px solid rgb(233, 8, 8);
  animation: spin 1s linear infinite;
}

.loading-text {
  margin-left: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #a6a3a3;
}

.showmore {
  margin-left: 800px;
  margin-top: 10px;
  margin-bottom: 40px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.load {
  margin-left: 820px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.load2 {
  margin-left: 820px;
  margin-top: 300px;
  margin-bottom: 40px;
}

.nodata {
  margin: auto;
  margin-left: 200px;
  margin-top: 60px;
}



